/* Define styles for individual elements */
.header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}


nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

nav li {
  display: inline; 
  margin-right: 20px; 
}

/* Style the links (<a>) */
nav a {
  text-decoration: none; 
  color: rgb(24, 24, 23); 
  font-weight: bold;
}


nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  /* Apply styles for mobile devices */
  .menu-toggle {
    display: block;
    cursor: pointer; 
  }

  .toggle-icon {
    width: 24px;
    height: 24px;
  }

  .nav-links {
    display: none; /* Initially hide the menu */
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    list-style-type: none; 
  }

  nav a {
    color: #fff;
  }
  .nav-links.open {
    display: flex; /* Show the menu when the 'open' class is applied */
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin-bottom: 10px;
  }
}

.main-content {
  background-color: #ffffff;
  flex-grow: 1; /* Grow to fill available space */
  min-height: calc(100vh - 180px); /* Minimum height to fill the viewport */
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

/* call to action */

/*  #495e57 #f4ce14 #333333*/

.cta-background {
  background-color: #495e57;
  width: 100%;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  color: #fff;
  width: 90%;
  max-width: 1280px;
}

.cta-left {
  width: 80%;
}

.cta-left h1 {
  color: #f4ce14;
}

.cta-left h1, h2 {
  line-height: 0.8;
}

.cta-left p {
  width:75%;
  margin: 20px 0;
}

.btn {
  padding: 15px 30px;
  font-size: 16pt;
  font-weight: 600;
  background-color: #f4ce14;
  color: #333333;
  border-radius: 20px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #333333;
  color: #f4ce14;
  transition: 0.3s;
}

.cta-right {
  width: 400px;
  position: relative;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  height: auto;
}



@media screen and (max-width: 1024px) {
  .cta-background {
      padding-top: 10vh;
  }

  .image-box {
      right: 0;
      width: 300px;
      height: 370px;
  }

  .cta-container {
      width: 100%;
      padding: 30px;
  }

  .cta-left h1 {
      font-size: 50px;
    }
    
    h2 {
      font-size: 34px;
    }
}




@media screen and (max-width: 659px) {
  .cta-container {
      flex-direction: column;
  }

  .image-box {
      width: 100%;
      height: 250px;
      position: initial
  }

  .cta-left p {
      width: 100%;
      font-size: smaller
  }

  .cta-right {
      position: initial;
      margin-top: 30px;
      margin-bottom: -100px;
      width: 100%;
      right: 30px;
  }

  .btn {
      font-size: smaller;
  }
}

/* Specials.css */

.special-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.special-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.special-card img {
  max-width: 100%;
  height: auto;
}

.special-details {
  margin-top: 20px;
}

.special-details h4 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.special-details p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.special-details button {
  background-color: #f4ce14; 
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.special-details button:hover {
  background-color: #333333;
  color: white;
}

.special-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-heading h4 {
  padding: 25px;
  background-color: #f4ce14;
  border-radius: 16px;
}

/* Responsive Styling */

@media screen and (min-width: 768px) {
  .specials-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (min-width: 1024px) {
  .specials-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}


/* Chicago.css */
.chicago-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 20px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.text h2 {
  margin: 0;
}

.images {
  flex: 1;
  position: relative;
  text-align: right;
}

.images img {
  max-width: 100%;
  height: auto;
}

.images img:first-child {
  position: relative;
  z-index: 1;
}

.images img:last-child {
  position: absolute;
  top: 0;
  right: 80px;
  top: 80px; 
  z-index: 2;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .chicago-container {
    flex-direction: column;
    text-align: center;
  }

  .text {
    order: 2;
  }

  .images {
    text-align: center;
  }
}


/* Footer */
.footer-background {
  background-color: #495e57;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-container img {
  width: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 20px;
}

.locations,
.opening-times,
.contact {
  flex: 1;
  margin: 0 10px;
}

.locations h5,
.opening-times h5,
.contact h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container img {
    margin: 0 auto;
  }

  .footer-content {
    margin-top: 20px;
  }

  .locations,
  .opening-times,
  .contact {
    flex: 1;
    margin: 0;
    text-align: center;
  }

  ul li {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}


/* customer say */
.testimonials {
  max-width: 1280px;
  margin: 0 auto;
}


.review-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  gap: 5px;
  text-align: center;
  background-color: #fff;
}

.review img {
  max-width: 100%;
  height: auto;
}

.review h2 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.review p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .review-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .review-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* booking form */

/* Define styles for labels */
label {
  color: #495e57;
}

/* Define styles for input fields and select */
input, select {
  border-radius: 16px;
  color: #333333;
  border: 1px solid #333333;
  padding: 5px;
}

/* Define styles for the submit button */
.button {
  background-color: #f4ce14;
  color: #333333;
  border-radius: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
}